In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('Downloads/train-201102-092914.csv')

In [3]:
# shape of the users data
print(train.shape)
# view the users data
train.head()

(16731, 3)

   user_id  article_id  rating
0        1         456       1
1        1        2934       1
2        1          82       1
3        1        1365       1
4        1         221       1

In [4]:
pd.isnull(train).sum()

user_id       0
article_id    0
rating        0
dtype: int64

In [5]:
num_users = train['user_id'].nunique()

In [6]:
article_stats = train.groupby('article_id').agg(
    avg_rating=('rating', 'mean'),
    rating_count=('rating', 'count'),
    read_count=('user_id', 'count')
).reset_index()

In [7]:
min_ratings = 0.05 * num_users
filtered_articles = article_stats[article_stats['rating_count'] >= min_ratings]
top_10_avg_rating = filtered_articles.sort_values(by='avg_rating', ascending=False).head(10)

In [8]:
print("Top 10 Articles Based on Average Rating:")
print(top_10_avg_rating)

Top 10 Articles Based on Average Rating:
      article_id  avg_rating  rating_count  read_count
488          580    1.833333            48          48
1067        1249    1.706897            58          58
2364        2781    1.700000            60          60
1220        1433    1.639344            61          61
820          967    1.442623           122         122
182          221    1.421875            64          64
521          618    1.420000            50          50
1496        1755    1.407407            54          54
382          456    1.391304            69          69
2036        2388    1.384615            52          52

In [9]:
top_10_most_read = article_stats[article_stats['avg_rating'] > 1.5]
top_10_most_read = top_10_most_read.sort_values(by='read_count', ascending=False).head(10)

In [10]:
print("\nTop 10 Most Read Articles with Avg Rating > 1.5:")
print(top_10_most_read)

Top 10 Most Read Articles with Avg Rating > 1.5:
      article_id  avg_rating  rating_count  read_count
1220        1433    1.639344            61          61
2364        2781    1.700000            60          60
1067        1249    1.706897            58          58
488          580    1.833333            48          48
2012        2361    1.523810            42          42
1163        1366    1.731707            41          41
1858        2178    1.578947            38          38
1918        2248    1.514286            35          35
1460        1716    1.794118            34          34
1372        1614    1.515152            33          33

In [11]:
C = train['rating'].mean()  # Mean rating across all articles
m = 2  # Minimum number of ratings required
def weighted_rating(row):
    R = row['avg_rating']
    v = row['rating_count']
    return (R * v + C * m) / (v + m)

article_stats['weighted_rating'] = article_stats.apply(weighted_rating, axis=1)
top_10_weighted = article_stats.sort_values(by='weighted_rating', ascending=False).head(10)

In [12]:
print("\nTop 10 Articles Based on Weighted Rating:")
print(top_10_weighted)

Top 10 Articles Based on Weighted Rating:
      article_id  avg_rating  rating_count  read_count  weighted_rating
199          239    5.000000             2           2         3.226974
1944        2283    5.000000             2           2         3.226974
107          129    4.000000             4           4         3.151316
1826        2141    4.000000             4           4         3.151316
2363        2779    3.666667             6           6         3.113487
789          931    3.500000             8           8         3.090790
18            24    4.000000             3           3         2.981579
617          739    4.000000             3           3         2.981579
729          861    4.500000             2           2         2.976974
1774        2079    3.333333             6           6         2.863487